.post-item {
  width: 624px;
  height: 155px;
  border: 0.3px solid rgb(255, 255, 255);
  border-radius: 5px;
  margin: 30px auto;
  font-size: 12px;
  background: url(../../assets/icons/book.svg) no-repeat scroll 16px 15px;
  background-color: #feffff;
}

.post-item > p {
  padding: 0 96px 0 44px;
}

.post-item > a {
  padding-left: 44px;
  color: #3456cb;
  text-decoration-line: underline;
  cursor: pointer;
}

.post-author {
  margin: 12px 0;
  font-size: 10px;
  opacity: 0.5;
}

.post-title {
  text-transform: uppercase;
}

.post-body {
  height: 50px;
  margin: 9px 0;
}
