.singlePostLoading {
  display: flex;
  justify-content: start;
  width: 624px;
  height: 155px;
  margin: 30px auto;
  border: 0.3px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: #feffff;
}

.bookLoadingDiv {
  position: relative;
  width: 42px;
}

.book-loading {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 19px;
  height: 24px;
  animation: sweep 1s linear infinite alternate;
}

.author-loading {
  width: 84px;
  height: 10px;
  margin: 12px 0;
  animation: sweep 1s linear infinite alternate;
}

.title-loading {
  width: 482px;
  height: 16px;
  animation: sweep 1s linear infinite alternate;
}

.body-loading {
  width: 482px;
  height: 50px;
  margin: 9px 0;
  animation: sweep 1s linear infinite alternate;
}

.btn_singlePost-loading {
  width: 51px;
  height: 14px;
  animation: sweep 1s linear infinite alternate;
}

@keyframes sweep {
  0% {
    background-color: hsl(0, 0%, 76%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
